<div class="container">
  <mat-card>
    <h4 class="mat-title">
      Benutzer anlegen
    </h4>

    <mat-divider></mat-divider>

    <mat-form-field class="half-size">
      <mat-select placeholder="Anrede">
        <mat-option value="Herr">Herr</mat-option>
        <mat-option value="Frau">Frau</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Vorname" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nachname" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel email placeholder="Email-Adresse" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel placeholder="Telefon-Nummer" autocomplete="off">
    </mat-form-field>

    <mat-divider></mat-divider>


    <p class="mat-caption">Der Benutzer darf:</p>
    <mat-radio-group>
      <mat-radio-button color="primary" value="read">Lesen</mat-radio-button>
      <mat-radio-button color="primary" value="readWrite">Lesen und Schreiben</mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>

    <p class="mat-caption">
      Post-Script (wird ausgeführt nachdem der User hinzugefügt wurde)
    </p>
    <app-script-box></app-script-box>

    <div class="action-bar">
      <button mat-button>Formular leeren</button>
      <button mat-raised-button color="primary">Benutzer anlegen</button>
    </div>
  </mat-card>
</div>
