
@mixin script-box-theme($theme) {
  /* Color styles */

  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $underline-color: map-get($foreground , hint-text);
  $underline-focused-color: map-get($primary, default);

  .script-box .script-box-input-wrapper {
    border-color: $underline-color;
  }

  .script-box .script-box-underline {
    background: $underline-focused-color;
  }
}

@mixin script-box-typography($config) {
  .script-box .script-box-input {
    font-size: mat-font-size($config, input);
    font-weight: mat-font-weight($config, input);
  }
}
