
$primary-map: (
  100: lightblue,
  200: blue,
  500: blue,
  700: darkblue,
  contrast: (
      100: #111,
      200: #EEE,
      500: #EEE,
      700: #EEE
  )
);

$primary-palette: mat-palette($primary-map, 500, 100, 700);

// So sieht sieht die Map danach aus.
$primary-palette: (
  default: blue,
  lighter: lightblue,
  darker: darkblue,

  default-contrast: #EEE,
  lighter-contrast: #111,
  darker-contrast: #EEE,

  100-contrast: #111,
  200-contrast: #EEE,
  500-contrast: #EEE,
  700-contrast: #EEE,

  100: lightblue,
  200: blue,
  500: blue,
  700: darkblue,
  contrast: (
      100: #111,
      200: #EEE,
      500: #EEE,
      700: #EEE
  )
);













// Auszug aus angular/material:
@function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700) {
  $result: map_merge($base-palette, (
    default: map-get($base-palette, $default),
    lighter: map-get($base-palette, $lighter),
    darker: map-get($base-palette, $darker),

    default-contrast: mat-contrast($base-palette, $default),
    lighter-contrast: mat-contrast($base-palette, $lighter),
    darker-contrast: mat-contrast($base-palette, $darker)
  ));

  // For each hue in the palette, add a "-contrast" color to the map.
  @each $hue, $color in $base-palette {
    $result: map_merge($result, (
      '#{$hue}-contrast': mat-contrast($base-palette, $hue)
    ));
  }

  @return $result;
}


